[submodule "pi-pico/pico-sdk"]
	path = pi-pico/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "pi-pico/littlefs-lib"]
	path = pi-pico/littlefs-lib
	url = https://github.com/dh1df/littlefs-lib
[submodule "littlefs-lib"]
	url = https://github.com/dh1df/littlefs-lib
[submodule "pi-pico/pico-enc28j60"]
	path = pi-pico/pico-enc28j60
	url = https://git.sr.ht/~krystianch/pico-enc28j60
